@font-face {
    font-family: Montserrat;
    src: url(../Montserrat/Montserrat-Regular.ttf);
    src: url(../Montserrat/Montserrat-SemiBold.ttf);

  }  

  body{
      font-family: Montserrat,Regular;
      background-color: #F8F7FF;
      font-size: 16px;
  }

  .heading{
      font-family: Montserrat,SemiBold;
      font-size: 48px;
      color:#5E56E7;
  }

  .font-regular{
    font-family: Montserrat,Regular;
  }

  .font-16{
      font-size:16px;
  }
  .font-20{
    font-size:20px;
  }
  .subheading{
      font-size:30px;
      font-family: Montserrat,SemiBold;
      color:#5E56E7;
      margin-bottom: 20px;
  }

  .bg-head{
      background-image: url(../img/Pattern.svg);
  }
  .bg-white{
      background-color:#fff;
  }

  .has-search .form-control {
    height: 40px;
    border-radius: 4px;
    padding: 0px 10px 0px 35px;
    background: #F0F0F6;
  }
  .form-control:focus{
    border-color: #5E56E7 !important;
    box-shadow: none !important;
  }
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }

  .font-12{
      font-size:12px;
  }
  .grey{
    color: #A0A0A0;
    padding-bottom: 30px;
  }
  .cardbook{
      width: 114px;
      padding-top: 10px;
      padding-bottom: 5px;
  }
  .Rectangle {
    width: 114px;
    height: 162px;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
    }
  .pd-head{
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .imgicon{
    width: 30px;
    height: 40px;
  }
  .img-next{
    width: 20px;
    height: 40px;
  }

  .genrecard{
    box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
    Height: 50px;
    padding-left: 10px;
    margin-bottom: 7%;
    padding-right: 10px;
    background-color:#fff;
    border-radius: 4px;
    cursor: pointer;
  }

  .genrecard li{
      padding-top: 7px;
  }

  .genrecardpd{
    padding-top: 35px;
  }
  .back-button{
    padding-right: 20px;
    cursor: pointer;
  }

  #preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(254, 254, 254, 0.81);
    z-index: 999999;
    display: none;
    overflow: hidden!important;
    height: 100%;
  }
  #status {
    width: 200px;
    height: 200px;
    position: fixed;
    left: 50%;
    top: 42%;
    background-image: url(loader.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    display: none;
  }
  .book_cover{
    cursor: pointer;
  }